
header{
    background-color:#202020;
}

.header{
    background-color:  Black;
    color: white;
margin-top:20%;
}
body{
min-width: fit-content;
  
background-color:  #242323; 
background-image: url("books.jpg");   
background-repeat: no-repeat;
background-position-y: 0;
background-position-x: 50%;


}

.maincontent{
    background-color:  #242323;    
}
li{
list-style: none;


}
ul{
    display:flex;
justify-content: center;
flex-direction: row;
justify-content: space-around;
}

.nav a{
    
    text-decoration: none;
    color: white; 
    transition:color 1s; 

    text-transform: uppercase;
  
}

.nav a:hover{
    color: red;
}
.nav{
background-color: black;
   
top: 0;
position: fixed;
overflow: hidden;
width: 100%;


}



article{
    background-color:  #202020;
}

a{
    color: white;
}
#articles{
    
    margin-top:5%;
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

footer{
    display: flex;
    justify-content: space-around;

}
footer a{
    text-decoration: none;
    color: orange;
}
#sport, #entertainment, #computers
{
    background-color: #202020;
    color:white;
border-radius:10px;
transition: width 2s;

}
#sport:hover, #entertainment:hover, #computers:hover{
    width: 70%;
    

}




aside {
    text-align: center;
}
@media (min-width: 800px){
.ul{
    flex-direction: row;
}

}
@media (max-width: 800px) {
.header{
    margin-top: 40%;
}
    ul{
    padding: 0px;
    font-size: 1rem;
    display:flex;
flex-direction: column;
justify-content: space-around;
}
body{

    background-size: 100%;
}
footer{
    flex-direction: column;
    align-items: center;
   
}
}

@media (max-width: 350px){
body{
    background-size: 0%;
}
ul{
    padding: 0px;
    font-size: 1rem;
    display:flex;
flex-direction: column;
justify-content: center;
float: left;
}
footer{
    flex-direction: column;
    align-items: center;
}
}